<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.MyPageMapper">

	<resultMap type="com.example.domain.Tag" id="tag">
		<id column="tag_id" property="id"/>
		<result column="skill" property="skill"/>
		<result column="tag_image" property="image"/>
	</resultMap>
	
	<resultMap type="com.example.domain.UserInfo" id="userInfo">
		<id column="user_info_id" property="id"/>
		<result column="user_name" property="userName"/>
		<result column="email" property="email"/>
 		<result column="engineer_type" property="engineerType"/>
 		<result column="image" property="image"/>
		<result column="description" property="description"/>
		<result column="follow_count" property="followCount"/>
		<result column="follower_count" property="followerCount"/>
		<result column="article_count" property="articleCount"/>
		<collection property="tags" resultMap="tag"/>
	</resultMap>
	
	<!-- マイページ表示 -->
	<select id="myPage" resultMap="userInfo">
		SELECT DISTINCT
			u.id AS user_info_id, u.user_name, u.email, 
			u.engineer_type, u.image, u.description,
			t.id AS tag_id,t.skill,
			(SELECT COUNT(follow_user_info_id) FROM follow WHERE user_info_id = u.id) AS follow_count,
			(SELECT COUNT(user_info_id) FROM follow WHERE follow_user_info_id = u.id) AS follower_count,
			(SELECT COUNT(id) FROM articles WHERE user_info_id = u.id) AS article_count
		FROM user_info AS u 
		LEFT JOIN user_info_tags AS ut 
		ON ut.user_info_id = u.id 
		LEFT JOIN tags AS t 
		ON t.id = ut.tag_id 
		WHERE u.id = #{userInfoId};
	</select>
	
</mapper>