<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.TagMapper">

	<resultMap type="com.example.domain.Tag" id="tagMap">
		<id column="id" property="id"/>
        <result column="skill" property="skill"/>
        <result column="image" property="image"/>
        <result column="tag_count" property="tagCount"/>
	</resultMap>
	
	<!-- Tag情報取得 -->
	<select id="getTags" resultType="com.example.domain.Tag">
		SELECT id, skill FROM tags;
	</select>
	
	<!-- Tagの投稿数を集計（月間・年間・全て） -->
	<select id="getTagsCount" resultMap="tagMap">
		SELECT
			t.id,
			t.skill,
			t.image,
			COUNT(at.tag_id) AS tag_count
		FROM articles a
		INNER JOIN article_tags at
		ON a.id = at.article_id
		INNER JOIN tags t
		ON t.id = at.tag_id
		<choose>
			<when test='value == "MONTH"'>
				WHERE a.posted_date > date_sub(CURDATE(), INTERVAL 30 day)
			</when> 
			<when test='value == "YEAR"'>
				WHERE a.posted_date > date_sub(CURDATE(), INTERVAL 365 day)
			</when> 
		</choose>
		GROUP BY t.skill 
		ORDER BY COUNT(at.tag_id) DESC LIMIT 20;
	</select>

</mapper>