<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.TopPageMapper">

	<resultMap type="com.example.domain.Tag" id="tag">
		<id column="tag_id" property="id" />
		<result column="skill" property="skill" />
		<result column="tag_image" property="image" />
	</resultMap>
	
	<resultMap type="com.example.domain.UserInfo" id="userInfo">
		<id column="user_info_id" property="id"/>
		<result column="user_name" property="userName"/>
 		<result column="image" property="image"/>
	</resultMap>

	<resultMap type="com.example.domain.Article" id="articleList">
		<id column="article_id" property="id" />
		<result column="title" property="title" />
		<result column="content" property="content" />
		<result column="posted_date" property="postedDate" />
		<result column="likes_count" property="likesCount" />
		<result column="like_status" property="likeStatus" />
		<association property="userInfo" resultMap="userInfo" />
		<collection property="articleTags" resultMap="tag" />
	</resultMap>

	<!-- 記事一覧取得 -->
	<select id="getArticleList" resultMap="articleList">
		SELECT
			a.id AS article_id,
			a.title,
			a.content,
			a.posted_date,
			t.id AS tag_id, 
			t.skill, 
			t.image AS tag_image,
			(SELECT count(id) FROM likes WHERE article_id = a.id) AS likes_count,
			(SELECT user_info_id = #{guestId} FROM likes WHERE article_id = a.id) AS like_status, 
			u.id AS user_info_id, u.user_name, u.image
		FROM articles AS a
		LEFT JOIN article_tags AS at 
		ON at.article_id = a.id
		LEFT JOIN tags AS t 
		ON at.tag_id = t.id 
		LEFT JOIN user_info AS u
		ON a.user_info_id = u.id 
		ORDER BY visited_count DESC;
	</select>

	<!-- タグ一覧取得 -->
	<select id="getTags" resultType="com.example.domain.Tag">
		SELECT id, skill, image
		FROM tags
		ORDER BY id;
	</select>

	<!-- ユーザー情報（画像）取得 -->
	<select id="getUserInfoImage"
		resultType="com.example.domain.UserInfo">
		SELECT image
		FROM user_info
		WHERE id = #{userInfoId};
	</select>

	<!-- タイトルからキーワード検索 -->
	<select id="searchKeywordFromTitle" resultMap="articleList">
		SELECT DISTINCT
			a.id AS article_id,
			a.title,
			a.content,
			a.posted_date,
			t.id AS tag_id,
			t.skill,
			t.image AS tag_image,
			(SELECT COUNT(*) FROM likes WHERE a.id = article_id) AS likes_count,
			(SELECT user_info_id = #{guestId} FROM likes WHERE article_id = a.id) AS like_status
		FROM articles AS a
		LEFT OUTER JOIN article_tags AS at
		ON a.id = at.article_id
		LEFT OUTER JOIN tags AS t
		ON at.tag_id = t.id
		WHERE 1=1
		<foreach collection="wordList" item="word">
			AND title LIKE CONCAT('%' ,#{word}, '%')
		</foreach>
		ORDER BY visited_count DESC;
	</select>

	<!-- タグ検索 -->
	<select id="searchWidhTagId" resultMap="articleList">
		SELECT
			a.id AS article_id,
			a.title,
			a.content,
			a.posted_date,
			t.id AS tag_id,
			t.skill,
			t.image AS tag_image,
			(SELECT COUNT(*) FROM likes WHERE a.id = article_id) AS likes_count,
			(SELECT user_info_id = #{guestId} FROM likes WHERE article_id = a.id) AS like_status
		FROM articles AS a
		LEFT OUTER JOIN article_tags AS at
		ON a.id = at.article_id
		LEFT OUTER JOIN tags AS t
		ON at.tag_id = t.id
		WHERE a.id = (SELECT article_id FROM article_tags WHERE tag_id = #{tagId})
		ORDER BY visited_count DESC;
	</select>
 
</mapper>